.divName{
 font-weight: bold;
color: #0e0000;
}
.divKeyValue1{
    font-weight: lighter;
    color: #2d0000;
    background: rgba(45, 0, 0, 0.15);
}
.divOBJ{
    margin-left:30px ;
    font-weight: bold;
    color: #0e0000;
}
.a{
    margin: 2px;
    width: 10%;
    background: #00c9ff;
    color: #002aff;
    text-align: center;

}